div.global-container{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
}
.container{
    height: calc(100% - 110px);
    width: 100%;
    margin-top: 110px;
    background-color: white;
    border-radius: 48px 48px 0px 0px;
}
img.pokemonImg{
    margin-top: -85px;
    width: 170px;
    height: 170px;

}
.pokemonName{
    /*font-family: Abel;*/
    font-size: 40px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: center;
    color : #4F4F4F;
    margin-top:10px;
    margin-bottom:20px;
    text-transform: capitalize;
}
.pokemonTypes {
    width: 100%;
}
.pokemonTypes .pokemonType{
    width: 10rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 6.5rem;
    background: #5DBE62;
    box-shadow: 0px 0px 10px 0px rgba(93, 190, 98, 0.70);
    color: #FFF;
    text-align: center;
    /*font-family: Abel;*/
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.description{
    width: 75%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.descriptionLabel{
    color: #4F4F4F;
    text-align: center;
    /*font-family: Abel;*/
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.statsEvolutionsMoves{
    width: 75%;
}

.row-btns .btn{
    width: 12.8rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 1.20688rem;
    text-align: center;
    /*font-family: Abel;*/
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.00488rem;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}
.card-img-top{
    width: 6.7rem;
    height: 6.7rem;
    flex-shrink: 0;
}
.card{
    width: 10rem;
    border: 0;
}

.card-title{
    text-transform: capitalize;
}